
.header-wrapper {
    background-color: #2d3e50; /* Dark blue background color */
    width: 100%;
}

.header-wrapper .nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

header nav {
    display: flex;
    align-items: center;
    max-width: 1264px;
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
}

header .nav-brand {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Add margin to separate from text */
}

header .nav-brand img {
    width: auto;
    height: 64px; /* Adjust height as necessary */
    object-fit: contain;
}

header .nav-tools {
    display: flex;
    flex-direction: row; /* Ensure text and vertical line are side by side */
    align-items: center;
    color: white;
}

header .nav-tools .default-content-wrapper {
    display: flex;
    flex-direction: row; /* Ensure text and vertical line are side by side */
    align-items: center;
}

.header-wrapper .nav-tools .button-container {
    margin-left: 20px; /* Add margin to separate from vertical line */
}

.header-wrapper .nav-tools .button-container a {
    color: white; /* White text color */
    background: none; /* Remove button background */
    padding: 0; /* Remove button padding */
    font-size: 1.4em; /* Adjust font size as necessary */
    font-weight: bold;
    text-decoration: none;
    line-height: 1.2; /* Adjust line height for better vertical alignment */
    display: inline-block; /* Ensure it stays inline */
    vertical-align: middle; /* Ensure vertical alignment */
}

.header-wrapper .nav-tools .button-container a:hover {
    text-decoration: underline;
}

/* Vertical divider line */
header .nav-tools::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 64px; /* Adjust height as necessary */
    background-color: white;
    margin-right: 20px; /* Adjust margin as necessary */
}

header nav .nav-hamburger {
    display: none;
    visibility: hidden;
}
